.navbar-brand{
    margin-left: 50px;
    color: orange;
    font-size: 1.4em;
    font-weight: bolder;
}

.nav-item{
    margin-right: 30px;
    font-weight: bold;
    justify-content: center;
}

.card-body p{
    color: white;
}

.card-ui{
    text-align: center;
    align-items: center;
    border-radius: 50px;
    border: none;
    background-color: #505050;
}

.triangle{
    color: white;
}
.square{
    background-color: orange;
    color: orange;
}

.deskripsi{
    background-repeat: no-repeat;
    background-position: right 150px center;
}

.deskripsi h1{
    font-size: 3.9em;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 30px;
}

.deskripsi p{
    font-size: 1.1em;
    margin-bottom: 20px;
}

.o-style{
    background-color: #FFC978;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
}

.hero-button{
    background-color: rgb(235, 158, 15);
    color: white;
    font-weight: bolder;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.img-detail{
    height: 50px;
    width: 50px;
}

.card-lesson{
    width: 170px;
    height: 140px;
    margin-right: 300px;
    background-color: #FFC978;
    border-radius: 15px;
}

.card-private{
    background-color: #77FF85;
    border-radius: 15px;
}

.instructor{
    display: inline-block;
}

.card-img-top{
    height: 110px;
    object-fit: cover;
}

.card-img-topside{
    border-radius: 10px;
    height: 50px;
    width: 125px;
    margin-top: 2px;
}

.img-col1{
    width: 120px;
    height: 97px;
    margin-top: 5px;
    margin-left: 5px;
}

.img-col2{
    width: 95px;
    height: 45px;
}

.img-col3{
    width: 95px;
    height: 45px;
}

.customers{
    margin-top: 80px;
}

.study{
    background-color: #D4FFC9;
    border-radius: 20px;
}

.study p{
    font-size: 1.25em;
    font-weight: 600;
}

.icon-arrow{
    display: flex;
    justify-content: end;
    height: 35px;
}

.icon-arrow button{
    border: none;
    padding: 10px;
    background-color:white;
    border-top-left-radius: 20px;
}

.icon-block{
    background-color: #77FF85;
    border-radius: 100%;
}

.learning{
    background-color: #F5F5F5;
    border-radius: 20px;
}

.camera{
    margin-top: 5px;
    margin-left: 5px;
}

.camera ion-icon{
    color: white;
    background-color: black;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-top: 8px;
    margin-left: 8px;
}

.online{
    margin-top: 20px;
}

.online1{
    background-color: none;
    border: 2px solid black;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    margin-top: 13px;
}

.online3{
    background-color: none;
    border: 2px solid black;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    margin-top: 13px;
    margin-left: -30px;
}

.online2{
    background-color: none;
    border: 2px solid black;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-top: 13px;
}

.online p{
    align-content: center;
}

.learning h5{
    margin-top: 30px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.user{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.user h2{
    font-weight: bold;
    margin-left: 10px;
}

.img-flex{
    margin-left: 50px;
}

.img-flex p{
    margin-left: 10px;
}

.img-flex span{
    font-weight: bold;
}

.flex-1{
    width: 30px;
    height: 30px;
}

.flex-2{
    width: 30px;
    height: 30px;
    margin-left: -10px;
}

.view-course{
    margin-right: 15px;
}

.card-image{
    background-size: cover;
    background-position: center center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}

.card-detail{
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
}

.card-detail1{
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    margin-right: 35px;
}

.card-detail1 h5{
    margin-top: 120px;
    margin-left: 20px;
}

.card-detail1 p{
    margin-left: 20px;
}

.card-button{
    margin-left: 20px;
    margin-top: 30px;
}

.a-link{
    margin-left: 35px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 100%;
}
.btn btn-info
/* javascript css */
.hidden {
    display: none;
}

.view{
    margin-top: 130px;
}

.viewall{
    width: 80px;
    font-size: 0.8rem;
    color: white;
}

.ardown{
    font-size: 1rem;
}

.card-text{
    color: black !important;
}

.judulkelas{
    font-weight: bolder;
    color: black;
}

.scroll-x {
    overflow-x: auto;
    white-space: nowrap;
}

.course-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    margin-right: 16px;
}

.list-course{
    text-decoration: none;
    list-style: none;
}

.descript{
    margin-top: -10px;
}

.judulcourse{
    margin-top: -15px;
}